* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.navbar {
    background-color: #f44f51;
    display: flex;
    align-items: center;
    padding: 20px;
    width: 100%;
    justify-content: center;
    border-end-start-radius: 10px;
    border-end-end-radius: 10px;
}

.navbar--icon {
    width: 30px;
    margin-right: 10px;
}

.navbar--title {
    color: white;
}

.card:not(.hr){
    display: flex;
    margin: 20px;
}

.card--img {
    width: 15vw;
    height: 50vh;
    min-height: 200px;
    max-height: 400px;
    min-width: 150px;
    object-fit: cover;
    border-radius: 10px;
}

.card--location--img {
    width: 0.75rem;
    margin-right: 5px;
}

.card--components {
    align-self: center;
    margin-left: 30px;
    margin-right: 20px;
}

.location--title {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 30rem;
    margin-bottom: 5px;
}

.location--text {
    text-transform: uppercase;
}

.card--date {
    display: flex;
    margin-top: 15px;
    margin-bottom: 8px;
}

.google--maps {
    text-decoration: underline;
    margin-left: 25px;
    color: grey;
}

.card--description {
    width: 70%;
}

