body{
    font-family: 'Raleway', sans-serif;
}

.cert{
    max-height: 60px;
    transition: 0.3s;
    margin:15px;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 100; /* this is optional and should be different for every project */
}

.sticky-wrapper {
    position: relative;
    height: 3rem; /* We need to change this value */
  }
  
.sticky .sticky-inner {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.cert:hover{
    max-height: 75px;
    margin: 0;
}

.nav-link{
    text-transform: uppercase;
    font-weight: 600;
}

h5{
    font-size: 16px;
    text-transform: uppercase;
}

.social-icons {
   height: 20px;
   padding-left: 5px;
   transition: 0.3s;
   margin:5px;
}

.social-icons:hover{
    height: 25px;
    padding-left: 0px;
    margin: 0px;
}

.jvectormap-zoomin{
    display: none
}

.jvectormap-zoomout{
    display: none 
}

.navbar-nav > a {
    text-decoration: none;
}

.fullscreen_bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-image: url('./images/login-page-bg.jpg');
    background-repeat:repeat;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {
        filter: contrast(1);
        -webkit-filter: contrast(1);
    }
    50%  {
        filter: contrast(0.9);
        -webkit-filter: contrast(0.9);
    }
    100% {
        filter: contrast(1);
        -webkit-filter: contrast(1);
    }
}

.hoverCard:hover{
    opacity: 0.8;
}

.hoverable{
    position: relative;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    max-height: 30vh;
    color: #212529 !important;
    cursor: pointer;
}

.hoverable:before{
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.25);
  opacity: 0;
  transition: opacity 500ms;
}

.hoverable:hover{
    text-decoration:none !important;
    color:#212529 !important;
}

.hoverable:hover::before{
    opacity: 1;
}

:root {
    --lh: 1.4rem;
}

.truncate-overflow {
    --max-lines: 3;
    position: relative;
    max-height: calc(var(--lh) * var(--max-lines));
    overflow: hidden;
    padding-right: 1rem; 
  }
  
  .certdiv{
    background-color: #ffffff !important;
  }

.truncate-overflow::before {
    position: absolute;
    content: "...";
    inset-block-end: 0;
    inset-inline-end: 0;
    bottom: 0;
    right: 0;
  }
.truncate-overflow::after {
    content: "";
    position: absolute;
    right: 0;
    width: 1rem;
    height: 1rem;
    background: white;
}

.image-area{
    object-fit: fill;
}

.baslik{}

.baslik:hover{
    color: #007bff;
}

.logo {
    transition: transform .2s; /* Animation */
  }
  
.logo:hover {
    transform: scale(1.075); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
    .baslik {
      font-size: calc(16px + 6 * ((100vw - 320px) / 680));
    }
    .Slider{
        max-height: 70vh;
    }
    .bigCard{
        min-height:22vh;
    }
    .Slider > div > div >  img {
        height: 300px;
        object-fit: cover;
        object-position: 25% 50%;
    }
}
  
@media screen and (max-width: 818px) {
    .box-image-area{
        min-width: 22vh !important;
    }
    .image-area {
        height: 20vh !important;
        width: 20vh !important;
    }
    .truncate-overflow{
        display:none;
    }
}

@media screen and (min-width: 1000px) {
    .baslik {
      font-size: 22px;
    }
    .bigCard{
        min-height:65vh;
    }
    .Slider > div > div > img {
        height: 720px;
        object-fit: cover;
    }
    
    .img-bot{
        object-position: 50% 0%;
    }

    .img-top{
        object-position: 50% 80%;
    }
}

.slider-img {
    -webkit-transform: scale(1);
    transform: scale(1);
    transition: all ease-in 2s;
    -webkit-animation: transformer 3s ease-in 0s 1;
    animation: transformer 3s ease-in 0s 1;
}

@-webkit-keyframes transformer {
    from {
        -webkit-transform: scale(1);
    }
    to {
        -webkit-transform: scale(1.4);
    }
}
@keyframes transformer {
    from {
        transform: scale(1.4);
    }
    to {
        transform: scale(1);
    }
}

table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  td, th { 
    padding: 6px; 
  }
  @media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {
    .se-image-container > figure > img, .se-image-container > figure > a > img {
        min-width: 80vw;
        min-height: 30vh;
    }
   .sun-editor-editable{
        padding-left: 0px;
    }
	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
        display: block; 
        border:none !important;
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	td { 
		position: relative;
        padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
    }
    .rcc-confirm-button{
        float:left;
    }
}